html {
    scroll-behavior: smooth;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

table {
    height: 50%;
    width: 70%;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

td {
    width: 33%;
}

p {
    padding: 0px 2%;
}

td {
    width: 33%;
}

img:not(#logo, .img-fluid) {
    width: 50%;
    min-height: 15%;
}

td:not(.other) {
    background-color: #ecd4f4;
}

#logo {
    background-image: url('logo.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 15%;
}

.nav {
    font-size: 25px;
}

h2 {
    color: #A3CCDC;
    font-size: 45px;
    text-align: center;
}

.nav-item {
    background-color: #A3CCDC;
    color: white;
}

.dropdown-item {
    background-color: #A3CCDC;
}

.nav-item:hover {
    background-color: #6790A0;
}

h1 {
    background-color: #ecd4f4;
    color: white;
    font-size: 75px;
    padding: 10px;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}